In [3]:
import pandas as pd

df = pd.read_csv('data.csv')

df.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [4]:
df.isna().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [5]:
def show_nulls(dff):
    print(dff[dff.isna().any(axis=1)])
    print(f"\nnumber of nulls:\n{dff.isna().sum()}")
    

show_nulls(df)

     Duration  Pulse  Maxpulse  Calories
17         45     90       112       NaN
27         60    103       132       NaN
91         45    107       137       NaN
118        60    105       125       NaN
141        60     97       127       NaN

number of nulls:
Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [6]:
new_df = df.copy()
for col in ['Duration', 'Pulse', 'Maxpulse', 'Calories']:
    new_df[col] = new_df[col].fillna(new_df[col].mean())

In [ ]:
show_nulls(new_df)

Empty DataFrame
Columns: [Duration, Pulse, Maxpulse, Calories]
Index: []

number of nulls:
Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

TypeError: show_nulls() missing 1 required positional argument: 'dff'

In [ ]:
print("all")
print(df[df.duplicated(keep=False)==True])

all
     Duration  Pulse  Maxpulse  Calories
5          60    102       127     300.0
16         60    100       120     300.0
31         45     90       112     180.1
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
40         45     90       112     180.1
46         60    109       153     387.6
71         60    109       153     387.6
84         45    100       120     225.3
113        45    100       120     225.3
124        60    111       151     368.5
155        60    111       151     368.5

In [ ]:
print("first")
print(df[df.duplicated(keep='first')==True])

first
     Duration  Pulse  Maxpulse  Calories
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
40         45     90       112     180.1
71         60    109       153     387.6
113        45    100       120     225.3
155        60    111       151     368.5

In [ ]:
print("last")
print(df[df.duplicated(keep='last')==True])

last
     Duration  Pulse  Maxpulse  Calories
5          60    102       127     300.0
16         60    100       120     300.0
31         45     90       112     180.1
37         60    100       120     300.0
46         60    109       153     387.6
84         45    100       120     225.3
124        60    111       151     368.5

In [ ]:
print(df.dtypes)

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [ ]:
df['Duration']=df['Duration'].

In [13]:
import matplotlib.pyplot as plt